@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    color:#757575;
    line-height: 1.2;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

button{
    border-width:0 ;
}


header{
    border-bottom: 1px solid #ECECEC;
}

a:hover{
    color:#2196F3;
}

a{
    text-decoration: none;
    font-style: normal;
    color: #757575;
}

button:hover{
    background-color:#2196F3;
    color:#fff;
    cursor: pointer;
}

h2{
    padding-bottom: 50px;
}

h2,
h3{
    color:#212121;
}

ul{
    font-style: normal;
    list-style: none;
    padding-left: 0;
    gap: 30px;
}




.button_hero_studio{
    border-width: 0;
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    width: 261px;
    height: 50px;
    border-radius: 4px;
}

.button_hero_studio:hover{
    background-color: #1380da;
}

.benefit{
    width: 270px;
}

.filters{
    margin: 0 auto;
    gap: 8px;
}



.footer_card{
    border: 1px solid #ECECEC;
}

.text_card{
    margin: 20px ;
}

footer,
.hero{
    background-color: #2F303A;
    color:#fff;
}

.hero, h2{
    text-align: center;
}


.logo{
    font-family: "Raleway", sans-serif;
    color:#2196F3;
    font-size: 26px;
}

.links_nav_bar{
    font-weight: 500;
    color:#000;
    text-shadow: 0px 4px 4px #bcbcbc;
}


nav,
.links_nav_bar,
.elements,
.filters,
.header_items,
.benefits,
.team,
.projects{
    display: flex;
    flex-wrap: wrap;
}


.filters button{
    width: 128px;
    height: 38px;
    border-radius: 4px;
}


.projects_container{
    justify-content: center;
}

.project a:hover{
    color: #757575;
}

.projects{
    justify-content: center;
}

.section{
    padding-top: 97px;
}

.hero, 
footer, 
.team_section{
    padding-top: 97px;
    padding-bottom: 97px;
}

.title_studio{
    font-size: 44px;
}

.projects_container{
    margin-bottom: 82px;
}

.bar_buttons{
    margin-bottom: 50px;
}

.nav_bar{
    margin-left: 103px;
}

.header_items{
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}
